services:
  app:
    build:
      context: .
      dockerfile: Dockerfile

    ports:
      - "8000:8000"

    volumes:
      - ./src:/app/src
      - ${DATA_DIR}:/app/data
      - ./config.yaml:/app/config.yaml
      - ./config.local.yaml:/app/config.local.yaml

    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

    command: ["python", "src/main.py"]
